@font-face {
    font-family: 'AmericanCaptain';
    src: url('/assets/fonts/american-captain.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ahkio';
    src: url('/assets/fonts/Ahkio-W00-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}